version: 1
config:
    - type: physical
      name: eth0
      mac_address: '{{ lpar_mac_address_colon }}'
      subnets:
      - type: static
        address: '{{ item.vm_ip }}'
        netmask: '{{ item.subnetmask }}'
        gateway: '{{ item.gateway }}'
    - type: nameserver
      address:
      - '{{ item.dns_ip }}'
      search:
      - '{{ item.domain }}'
