#cloud-config
hostname: {{ item.hostname }}
manage_etc_hosts: true
fqdn: {{ item.hostname }}.{{ item.domain }}

# TO DO: Figure out how to disable root

bootcmd:
  - [ chvg, -g, rootvg ]
  - [ chfs, -a, "size=+8G", /var ]
  - [ chfs, -a, "size=+8G", /opt ]

{{ lpar_cloud_init_config | to_nice_yaml(indent=2) }}

runcmd:
  - /opt/freeware/bin/dnf install sudo -y
  - |
    cat << 'EOF' > /etc/sudoers.d/90-cloud-init-users
    # User rules for {{ ansible_user }}
    {{ ansible_user }} ALL=(ALL) NOPASSWD:ALL
    EOF
  - chmod 440 /etc/sudoers.d/90-cloud-init-users
