default-lease-time 600;
max-lease-time 7200;
authoritative;

subnet {{ lpar_install_subnet }} netmask {{ lpar_install_netmask }} {
    allow bootp;
    option routers {{ lpar_install_gateway }};
    option domain-name-servers {{ lpar_install_dns_ip }};
    next-server {{ lpar_install_netboot_server_ip }};
}
