set timeout=1
menuentry 'Install OS' {
    insmod tftp
    set root=(tftp,{{ lpar_install_netboot_server_ip }})
    echo 'Loading OS Install kernel ...'
    linux /ppc/ppc64/vmlinuz nameserver={{ lpar_install_dns_ip }} inst.stage2=http://{{ lpar_install_netboot_server_ip }}/{{ lpar_install_os_version }} inst.ks=http://{{ lpar_install_netboot_server_ip }}/kickstarts/{{ item.hostname}}.ks
    initrd /ppc/ppc64/initrd.img
}
